@font-face {
	font-family: 'BookkMyungjo-Bd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
* {box-sizing: border-box;font-family: 'BookkMyungjo-Bd';}

.container {
	height: 100%;
	width: calc(100% - 150px);
	padding: 20px;
	margin-left:150px;
	box-sizing: border-box;
}
.movie_genres {
	margin-bottom: 10px;
}

.movie_genres .genre {
	display: inline-block;
	background: #888;
	color: #fff;
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 50px;
	font-size: 12px;
	line-height: 15px;
}


@media screen and (max-width:1000px) {
	.container {width:100%;margin:0;padding-bottom:300px !important;}
}